<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?define ProductName = "CollectdWinService" ?>
  <?define Manufacturer = "Bloomberg LP" ?>
  <?define ManufacturerID = "Bloomberg_LP" ?>
  <?if $(var.Platform) = x64 ?>
  <?define Win64 = "yes" ?>
  <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
  <?else ?>
  <?define Win64 = "no" ?>
  <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
  <?endif ?>

  <?define UpgradeCode = "879ad1b0-4d67-4fac-be7b-2958cf71af73"?>
  <?define Version = "!(bind.FileVersion.CollectdWinService.exe)"?>
  <Product Name="$(var.ProductName)"
           Id="*"
           UpgradeCode="$(var.UpgradeCode)"
           Manufacturer="$(var.Manufacturer)"
           Version="$(var.Version)"
           Language="1033">
    <Package InstallerVersion="200"
             InstallScope="perMachine"
             InstallPrivileges="elevated"
             Compressed="yes" />
    <Media Id="1"
           Cabinet="media1.cab"
           EmbedCab="yes" />
    <majorUpgrade Schedule="afterInstallInitialize"
                  AllowDowngrades="yes"
                  AllowSameVersionUpgrades="no" />
    <Directory Id="TARGETDIR"
               Name="SourceDir">
      <Directory Id="$(var.PlatformProgramFilesFolder)">
        <Directory Id="$(var.ManufacturerID)" Name="$(var.Manufacturer)">
          <Directory Id="CollectdWin"
                     Name="CollectdWin">
            <Component Id="BloombergFLP.CollectdWinService"
                       Guid="{59727D06-40F4-4510-800E-8D224A652627}">
              <File Id="CollectdWinService.exe"
                    Name="CollectdWinService.exe"
                    Source="..\CollectdWinService\bin\$(var.Platform)\Debug\CollectdWinService.exe"
                    Vital="yes"
                    KeyPath="yes"
                    DiskId="1" />
              <File Id="NLog.dll"
                    Name="NLog.dll"
                    Source="..\..\third-party\NLog.dll"
                    Vital="yes"
                    KeyPath="no"
                    DiskId="1" />
              <File Id="RabbitMQ.Client.dll"
                    Name="RabbitMQ.Client.dll"
                    Source="..\..\third-party\RabbitMQ.Client.dll"
                    Vital="yes"
                    KeyPath="no"
                    DiskId="1" />
              <File Id="types.db"
                    Name="types.db"
                    Source="..\CollectdWinService\bin\$(var.Platform)\Debug\types.db"
                    Vital="yes"
                    KeyPath="no"
                    DiskId="1" />
              <File Id="CollectdWinService.exe.config"
                    Name="CollectdWinService.exe.config"
                    Source="..\CollectdWinService\bin\$(var.Platform)\Debug\CollectdWinService.exe.config"
                    Vital="yes"
                    KeyPath="no"
                    DiskId="1" />
              <ServiceInstall Id="ServiceInstaller"
                              Type="ownProcess"
                              Vital="yes"
                              Name="$(var.ProductName)"
                              DisplayName="$(var.ProductName)"
                              Description="$(var.ProductName)"
                              Start="auto"
                              Account="LocalSystem"
                              ErrorControl="ignore"
                              Interactive="no" />
              <ServiceControl Id="StartService"
                              Stop="both"
                              Remove="uninstall"
                              Name="$(var.ProductName)"
                              Wait="yes" />
            </Component>
            <Directory Id="config" Name="config">
              <Component Id="BloombergFLP.CollectdWinConfig" Guid="{9F30B0DE-2FB6-41D7-B8FC-3810C4574382}">
                <File Id="nlog.config"
                      Name="nlog.config"
                      Source="..\CollectdWinService\bin\$(var.Platform)\Debug\config\nlog.config"
                      Vital="yes"
                      KeyPath="yes"
                      DiskId="1" />
                <File Id="CollectdWin.config"
                      Name="CollectdWin.config"
                      Source="..\CollectdWinService\bin\$(var.Platform)\Debug\config\CollectdWin.config"
                      Vital="yes"
                      KeyPath="no"
                      DiskId="1" />
                <File Id="Statsd.config"
                      Name="Statsd.config"
                      Source="..\CollectdWinService\bin\$(var.Platform)\Debug\config\Statsd.config"
                      Vital="yes"
                      KeyPath="no"
                      DiskId="1" />
                <File Id="WindowsPerformanceCounter.config"
                      Name="WindowsPerformanceCounter.config"
                      Source="..\CollectdWinService\bin\$(var.Platform)\Debug\config\WindowsPerformanceCounter.config"
                      Vital="yes"
                      KeyPath="no"
                      DiskId="1" />
                <File Id="Amqp.config"
                      Name="Amqp.config"
                      Source="..\CollectdWinService\bin\$(var.Platform)\Debug\config\Amqp.config"
                      Vital="yes"
                      KeyPath="no"
                      DiskId="1" />
                <File Id="WriteHttp.config"
                      Name="WriteHttp.config"
                      Source="..\CollectdWinService\bin\$(var.Platform)\Debug\config\WriteHttp.config"
                      Vital="yes"
                      KeyPath="no"
                      DiskId="1" />
              </Component>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    <Feature Id="ProductFeature"
             Title="CollectdWinService"
             Level="1">
      <ComponentRef Id="BloombergFLP.CollectdWinService" />
      <ComponentRef Id="BloombergFLP.CollectdWinConfig" />
    </Feature>

    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallValidate" />
    </InstallExecuteSequence>

  </Product>
</Wix>
