<CollectdWinConfig>

  <GeneralSettings Interval="30" Timeout="120" StoreRates="false" />
 
  <Plugins>
    <Plugin Name="Statsd" Class="BloombergFLP.CollectdWin.StatsdPlugin" Enable="true" />
    <Plugin Name="WindowsPerformanceCounter" Class="BloombergFLP.CollectdWin.WindowsPerformanceCounterPlugin"
            Enable="true" />
    <Plugin Name="Amqp" Class="BloombergFLP.CollectdWin.AmqpPlugin" Enable="false" />
    <Plugin Name="WriteHttp" Class="BloombergFLP.CollectdWin.WriteHttpPlugin" Enable="false" />
    <Plugin Name="Console" Class="BloombergFLP.CollectdWin.ConsolePlugin" Enable="true" />
  </Plugins>

  <MetaData>
    <Tag Name="region" Value="ny"/>
    <Tag Name="env" Value="prod"/>
    <Tag Name="dc" Value="datacenter-1"/>
  </MetaData>

</CollectdWinConfig>