<Statsd>
  <Server Host="localhost" Port="8125" />
  <DeleteCache Counters="true" Timers="true" Gauges="true" Sets="true" />
  <Timer Lower="true" Upper="true" Sum="true" Count="true">
    <Percentiles>
      <Percentile Value="90.0" />
      <Percentile Value="95.0" />
    </Percentiles>
  </Timer>
</Statsd>