<WindowsPerformanceCounter>
  <ReloadConfiguration Enable="true" Interval="900" />
  <Counters>
    <Counter Category="Processor" Name="% Processor Time" Instance="_Total" CollectdPlugin="aggregation"
             CollectdPluginInstance="cpu-average" CollectdType="cpu" CollectdTypeInstance="processor" />
    <Counter Category="Processor" Name="% Idle Time" Instance="_Total" CollectdPlugin="aggregation"
             CollectdPluginInstance="cpu-average" CollectdType="cpu" CollectdTypeInstance="idle" />
    <Counter Category="Processor" Name="% Privileged Time" Instance="_Total" CollectdPlugin="aggregation"
             CollectdPluginInstance="cpu-average" CollectdType="cpu" CollectdTypeInstance="system" />
    <Counter Category="Processor" Name="% User Time" Instance="_Total" CollectdPlugin="aggregation"
             CollectdPluginInstance="cpu-average" CollectdType="cpu" CollectdTypeInstance="user" />
    <Counter Category="Processor" Name="% Interrupt Time" Instance="_Total" CollectdPlugin="aggregation"
             CollectdPluginInstance="cpu-average" CollectdType="cpu" CollectdTypeInstance="interrupt" />

    <Counter Category="Memory" Name="Available Bytes" CollectdPlugin="memory" CollectdPluginInstance=""
             CollectdType="memory" CollectdTypeInstance="free" />
    <Counter Category="Memory" Name="Page Faults/sec" CollectdPlugin="memory" CollectdPluginInstance=""
             CollectdType="memory" CollectdTypeInstance="faults_per_sec" />
    <Counter Category="Memory" Name="% Committed Bytes In Use" CollectdPlugin="memory" CollectdPluginInstance=""
             CollectdType="memory" CollectdTypeInstance="percent_committed_inuse" />

    <Counter Category="Paging File" Name="% Usage" Instance="_Total" CollectdPlugin="swap"
             CollectdPluginInstance="" CollectdType="swap" CollectdTypeInstance="percent_used" />

    <Counter Category="System" Name="System Up Time" CollectdPlugin="uptime" CollectdPluginInstance=""
             CollectdType="uptime" CollectdTypeInstance="" />
    <Counter Category="System" Name="System Calls/sec" CollectdPlugin="system" CollectdPluginInstance=""
             CollectdType="gauge" CollectdTypeInstance="sys_calls_per_sec" />

    <Counter Category="System" Name="File Data Operations/sec" CollectdPlugin="io" CollectdPluginInstance=""
             CollectdType="gauge" CollectdTypeInstance="file_ops_per_sec" />
    <Counter Category="System" Name="File Read Operations/sec" CollectdPlugin="io" CollectdPluginInstance=""
             CollectdType="gauge" CollectdTypeInstance="file_read_ops_per_sec" />
    <Counter Category="System" Name="File Write Operations/sec" CollectdPlugin="io" CollectdPluginInstance=""
             CollectdType="gauge" CollectdTypeInstance="file_write_ops_per_sec" />

    <Counter Category="LogicalDisk" Name="% Free Space" Instance="*" CollectdPlugin="df"
             CollectdType="percent_bytes" CollectdTypeInstance="free" />
    <!-- Convert Megabytes to Bytes using ScaleUpFactor = 1024 * 1024 = 1048576 -->
    <Counter Category="LogicalDisk" Name="Free Megabytes" Instance="*" ScaleUpFactor="1048576" CollectdPlugin="df"
             CollectdType="df_complex" CollectdTypeInstance="free" />

    <Counter Category="Process" Name="Handle Count" Instance="_Total" CollectdPlugin="processes"
             CollectdPluginInstance="" CollectdType="gauge" CollectdTypeInstance="handles" />

    <Counter Category="Network Interface" Name="Packets Received/Sec,Packets Sent/Sec" Instance="*"
             CollectdPlugin="interface" CollectdType="if_packets" CollectdTypeInstance="" />
    <Counter Category="Network Interface" Name="Bytes Received/Sec,Bytes Sent/Sec" Instance="*"
             CollectdPlugin="interface" CollectdType="if_octets" CollectdTypeInstance="" />
    <Counter Category="Network Interface" Name="Packets Received Errors,Packets Outbound Errors" Instance="*"
             CollectdPlugin="interface" CollectdType="if_errors" CollectdTypeInstance="" />
  </Counters>
</WindowsPerformanceCounter>