<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="CollectdWinConfig" type="BloombergFLP.CollectdWin.CollectdWinConfig, CollectdWinService" />
    <section name="PluginRegistry" type="BloombergFLP.CollectdWin.PluginRegistryConfig, CollectdWinService" />
    <section name="WindowsPerformanceCounter"
             type="BloombergFLP.CollectdWin.WindowsPerformanceCounterPluginConfig, CollectdWinService" />
    <section name="Statsd" type="BloombergFLP.CollectdWin.StatsdPluginConfig, CollectdWinService" />
    <section name="Amqp" type="BloombergFLP.CollectdWin.AmqpPluginConfig, CollectdWinService" />
    <section name="WriteHttp" type="BloombergFLP.CollectdWin.WriteHttpPluginConfig, CollectdWinService" />
  </configSections>

  <!-- As per https://msdn.microsoft.com/en-us/library/jj152935(v=vs.110).aspx :
        supportedRuntime version specifies the CLR version that aligns with the .NET Framework version that your app supports. 
        Use the following strings:
          .NET Framework 1.0: "v1.0.3705"
          .NET Framework 1.1: "v1.1.4322"
          .NET Framework 2.0, 3.0, and 3.5: "v2.0.50727"
          .NET Framework 4 and 4.5 (including point releases such as 4.5.1): "v4.0"
  -->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    <supportedRuntime version="v4.0" />
    <supportedRuntime version="v2.0.50727" />
  </startup>

  <nlog configSource="config\nlog.config" />
  <CollectdWinConfig configSource="config\CollectdWin.config" />
  <PluginRegistry configSource="config\PluginRegistry.config" />
  <WindowsPerformanceCounter configSource="config\WindowsPerformanceCounter.config" />
  <Statsd configSource="config\Statsd.config" />
  <Amqp configSource="config\Amqp.config" />
  <WriteHttp configSource="config\WriteHttp.config" />

</configuration>