<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="CollectdWinConfig" type="BloombergFLP.CollectdWin.CollectdWinConfig, CollectdWinService" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <!-- As per https://msdn.microsoft.com/en-us/library/jj152935(v=vs.110).aspx :
        supportedRuntime version specifies the CLR version that aligns with the .NET Framework version that your app supports. 
        Use the following strings:
          .NET Framework 1.0: "v1.0.3705"
          .NET Framework 1.1: "v1.1.4322"
          .NET Framework 2.0, 3.0, and 3.5: "v2.0.50727"
          .NET Framework 4 and 4.5 (including point releases such as 4.5.1): "v4.0"
  -->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    <supportedRuntime version="v4.0" />
    <supportedRuntime version="v2.0.50727" />
  </startup>

  <CollectdWinConfig>

    <GeneralSettings Interval="30" Timeout="120" StoreRates="false" />

    <PluginRegistry>
      <Plugin Name="Statsd" Class="BloombergFLP.CollectdWin.StatsdPlugin" Enable="true" />
      <Plugin Name="WindowsPerformanceCounter" Class="BloombergFLP.CollectdWin.WindowsPerformanceCounterPlugin"
              Enable="true" />
      <Plugin Name="Amqp" Class="BloombergFLP.CollectdWin.AmqpPlugin" Enable="false" />
      <Plugin Name="WriteHttp" Class="BloombergFLP.CollectdWin.WriteHttpPlugin" Enable="false" />
      <Plugin Name="Console" Class="BloombergFLP.CollectdWin.ConsolePlugin" Enable="true" />
    </PluginRegistry>

    <Statsd Host="localhost" Port="8125">
      <DeleteCache Counters="true" Timers="true" Gauges="true" Sets="true" />
      <Timer Lower="true" Upper="true" Sum="true" Count="true">
        <Percentiles>
          <Percentile Value="90.0" />
          <Percentile Value="95.0" />
        </Percentiles>
      </Timer>
    </Statsd>

    <Amqp>
      <Publish Name="amqpPublisher" Host="localhost" Port="14504" VirtualHost="vhost" User="user" Password="abc"
               Exchange="exchange" RoutingKeyPrefix="collectd" />
    </Amqp>

    <WriteHttp>
      <Nodes>
        <Node Name="example" Url="http://localhost:9223/collectd" Timeout="10000" BatchSize="25" MaxIdleTime="600000">
          <Proxy Enable="false" Url="" />
        </Node>
      </Nodes>
    </WriteHttp>

    <WindowsPerformanceCounters>
      <Counters>
        <Counter Category="Processor" Name="% Processor Time" Instance="_Total" CollectdPlugin="aggregation"
                 CollectdPluginInstance="cpu-average" CollectdType="cpu" CollectdTypeInstance="processor" />
        <Counter Category="Processor" Name="% Idle Time" Instance="_Total" CollectdPlugin="aggregation"
                 CollectdPluginInstance="cpu-average" CollectdType="cpu" CollectdTypeInstance="idle" />
        <Counter Category="Processor" Name="% Privileged Time" Instance="_Total" CollectdPlugin="aggregation"
                 CollectdPluginInstance="cpu-average" CollectdType="cpu" CollectdTypeInstance="system" />
        <Counter Category="Processor" Name="% User Time" Instance="_Total" CollectdPlugin="aggregation"
                 CollectdPluginInstance="cpu-average" CollectdType="cpu" CollectdTypeInstance="user" />
        <Counter Category="Processor" Name="% Interrupt Time" Instance="_Total" CollectdPlugin="aggregation"
                 CollectdPluginInstance="cpu-average" CollectdType="cpu" CollectdTypeInstance="interrupt" />

        <Counter Category="Memory" Name="Available Bytes" CollectdPlugin="memory" CollectdPluginInstance=""
                 CollectdType="memory" CollectdTypeInstance="free" />
        <Counter Category="Memory" Name="Page Faults/sec" CollectdPlugin="memory" CollectdPluginInstance=""
                 CollectdType="memory" CollectdTypeInstance="faults_per_sec" />
        <Counter Category="Memory" Name="% Committed Bytes In Use" CollectdPlugin="memory" CollectdPluginInstance=""
                 CollectdType="memory" CollectdTypeInstance="percent_committed_inuse" />

        <Counter Category="Paging File" Name="% Usage" Instance="_Total" CollectdPlugin="swap"
                 CollectdPluginInstance="" CollectdType="swap" CollectdTypeInstance="percent_used" />

        <Counter Category="System" Name="System Up Time" CollectdPlugin="uptime" CollectdPluginInstance=""
                 CollectdType="uptime" CollectdTypeInstance="" />
        <Counter Category="System" Name="System Calls/sec" CollectdPlugin="system" CollectdPluginInstance=""
                 CollectdType="gauge" CollectdTypeInstance="sys_calls_per_sec" />

        <Counter Category="System" Name="File Data Operations/sec" CollectdPlugin="io" CollectdPluginInstance=""
                 CollectdType="gauge" CollectdTypeInstance="file_ops_per_sec" />
        <Counter Category="System" Name="File Read Operations/sec" CollectdPlugin="io" CollectdPluginInstance=""
                 CollectdType="gauge" CollectdTypeInstance="file_read_ops_per_sec" />
        <Counter Category="System" Name="File Write Operations/sec" CollectdPlugin="io" CollectdPluginInstance=""
                 CollectdType="gauge" CollectdTypeInstance="file_write_ops_per_sec" />

        <Counter Category="LogicalDisk" Name="% Free Space" Instance="*" CollectdPlugin="df"
                 CollectdType="percent_bytes" CollectdTypeInstance="free" />
        <!-- Convert Megabytes to Bytes using ScaleUpFactor = 1024 * 1024 = 1048576 -->
        <Counter Category="LogicalDisk" Name="Free Megabytes" Instance="*" ScaleUpFactor="1048576" CollectdPlugin="df"
                 CollectdType="df_complex" CollectdTypeInstance="free" />

        <Counter Category="Process" Name="Handle Count" Instance="_Total" CollectdPlugin="processes"
                 CollectdPluginInstance="" CollectdType="gauge" CollectdTypeInstance="handles" />

        <Counter Category="Network Interface" Name="Packets Received/Sec,Packets Sent/Sec" Instance="*"
                 CollectdPlugin="interface" CollectdType="if_packets" CollectdTypeInstance="" />
        <Counter Category="Network Interface" Name="Bytes Received/Sec,Bytes Sent/Sec" Instance="*"
                 CollectdPlugin="interface" CollectdType="if_octets" CollectdTypeInstance="" />
        <Counter Category="Network Interface" Name="Packets Received Errors,Packets Outbound Errors" Instance="*"
                 CollectdPlugin="interface" CollectdType="if_errors" CollectdTypeInstance="" />
      </Counters>
    </WindowsPerformanceCounters>
  </CollectdWinConfig>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true" throwExceptions="false">

    <variable name="appName" value="CollectdWin" />

    <targets async="true">
      <target xsi:type="File"
              name="default"
              layout="${longdate}|${level:uppercase=true}|${logger}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
              fileName="${specialfolder:CommonApplicationData }\${appName}\${appName}_debug.log"
              keepFileOpen="true"
              ConcurrentWrites="false"
              archiveAboveSize="1048576"
              archiveFileName="${specialfolder:CommonApplicationData }\${appName}\${appName}_debug_${shortdate}.{##}.log"
              archiveNumbering="Sequence"
              archiveEvery="Day"
              maxArchiveFiles="10" />
      <target xsi:type="EventLog"
              name="eventlog"
              source="${appName}"
              layout="${message}${newline}${exception:format=ToString}" />
    </targets>
    <rules>
      <logger name="*" writeTo="default" minlevel="Info" />
      <logger name="*" writeTo="eventlog" minlevel="Error" />
    </rules>
  </nlog>

</configuration>